<div class="user-section-list">
    <% @foods.each do |food| %>
      <div class="index-store"> 
        店舗名: <%= food.store %>
      </div>

      <div class="index-genre">
        ジャンル: <%= food.genre.name %>
      </div>

      <div class="index-image">
        <%= link_to image_tag(food.image, class: :food_img), food_path(food.id) if food.image.attached? %>
      </div>

      <div class="user-name">
        ・<%= food.user.name %>さんの口コミ
      </div>

      <div class="index-content">
        <%= food.content %>
      </div>
      <p class="index-content-more"><%= link_to "...もっと見る", food_path(food.id) %></p>
        <%= food.liked_users.count %>イイね！！
    <% end %>
  </div>

  