<div class="index-contnets">
  <h1 class="user-section-title">USERの<br>オススメからお店を探す</h1>
  <p class="user-section-info">Food-naviではグルメ情報に詳しいユーザーさんの口コミ投稿から自分に合ったお店を見つけてみよう！</p>

  <div class="user-section-list">
    <% @food.each do |food| %>
      <div class="index-store"> 
        <%= food.store %>
      </div>

      <div class="index-genre">
        <%= food.genre.name %>
      </div>

      <div class="index-image">
        <%= link_to image_tag(food.image), food_path(food.id) if food.image.attached? %>
      </div>

      <div class="user-name">
        <%= food.user.name %>
      </div>

      <div class="index-content">
        <%= food.content %>
      </div>
    <% end %>
  </div>
</div> 