<div class="index-contents">
  <h1 class="user-section-title">〜〜USERの口コミからお店を探す〜〜</h1>
  <p class="user-section-info">Food-naviではグルメ情報に詳しいユーザーさんの口コミ投稿から自分に合ったお店を見つけてみよう！！</p>

  <div class="user-section-list">
    <% @foods.each do |food| %>
      <div class="index-store"> 
        店舗名: <%= food.store %>
      </div>

      <div class="index-genre">
        ジャンル: <%= food.genre.name %>
      </div>

      <div class="index-image">
        <%= link_to image_tag(food.image, class: :food_img), food_path(food.id) if food.image.attached? %>
      </div>

      <div class="user-name">
        ・<%= food.user.name %>さんの口コミ
      </div>

      <div class="index-content">
        <%= food.content %>
      </div>
      <p class="index-content-more"><%= link_to "...もっと見る", food_path(food.id) %></p>
        <%= food.liked_users.count %>イイね！！
    <% end %>
  </div>
</div> 
