<h1>行ったお店の口コミを投稿してみよう！！</h1>
<div class="new-contents">
  <%= form_with model: @food, url: foods_path, method: :post, local: true do |f| %>
    <%= f.text_field :store_name, class: "new-store-name", placeholder: "店舗名を入力してください" %>
    <%= f.text_area :content, class: "new-content", placeholder: "口コミを入力してください" %>
    <%# <%= f.label :image, "画像", class: "image_btn" %>
    <%= f.file_field :image, class:"image_form" %>
    <%= f.submit "口コミを投稿", class:"btn" %>
  <% end %>
</div>

