<div class="show-section">
  <div class= "show-section-list">
    <div class="show-store"> 
      店舗名: <%= @food.store %>
    </div>

    <div class="show-genre">
      ジャンル: <%= @food.genre.name %>
    </div>

    <div class="show-image">
      <%= image_tag @food.image, class: :food_show_img if @food.image.attached? %>
    </div>

    <div class="show-name">
      ・<%= @food.user.name %>さんの口コミ
    </div>

    <div class="show-content">
      <%= @food.content %>
    </div>

    <div class="show-time">
      <%= l @food.created_at, format: :short %>
    </div>
  </div>
  
  <div class="food-edit-delete">
    <%= link_to "編集", edit_food_path(@food.id), class: :food_edit %>
    <%= link_to "削除", food_path(@food.id), class: :food_delete, method: :delete %>

    <h3><%= @food.likes.count %></h3>
    <% if current_user %>
      <% if current_user.liked_by?(@food.id) %>
        <%= link_to food_like_path(@food), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to food_likes_path(@food), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>