<!DOCTYPE html>
<html>
  <head>
    <title>FoodNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="global-header">
      <div class="global-header-center">
        <div class="global-header-sub">
          <a class="global-header-catchcopy">〜〜自分に合ったお店を見つけよう〜〜</a>
          <nav>
            <ul class="global-navigation">
              <li><%= link_to "エリア別", "#", class: "navi" %></li>
              <li><%= link_to "ジャンル別", "#", class: "navi" %></li>
              <li><%= link_to "口コミ投稿", new_food_path, class: "navi" %></li>
            </ul>
          </nav>
        </div>
        <div class="global-header-main">
          <a href="/" class="food-navi">Food-Navi</a></h1>
          <div class="global-header-search"></div>
          <% if user_signed_in? %>
            <ul class="global-navi-link">
              <li><%= link_to "ログアウト", destroy_user_session_path, class: "navi-link", method: :delete %></li>
            </ul>
          <% else %>
            <ul class="global-navi-link">
              <li><%= link_to "ログイン", new_user_session_path, class: "navi-link" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: "navi-link" %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="global-footer">
      <div class="global-footer-layout">
        <ul class="global-footer-navi">
          <li><%= link_to "food-naviについて", "#", class: "navi-item" %></li>
          <li><%= link_to "運営会社", "#", class: "navi-item" %></li>
          <li><%= link_to "利用規約", "#", class: "navi-item" %></li>
          <li><%= link_to "プライバシーポリシー", "#", class: "navi-item" %></li>
          <li><%= link_to "サイトマップ", "#", class: "navi-item" %></li>
          <li><%= link_to "グルメニュース", "#", class: "navi-item" %></li>
          <li><%= link_to "food-navi会員様につい", "#", class: "navi-item" %></li>
          <li><%= link_to "おすすめ口コミ", "#", class: "navi-item" %></li>
          <li><%= link_to "ヘルプページ", "#", class: "navi-item" %></li>
          <li><%= link_to "Facebook公式", "#", class: "navi-item" %></li>
          <li><%= link_to "Twitter公式", "#", class: "navi-item" %></li>
        </ul>
        <p class="global-footer-copyrigth">Copyright (C) food-navi All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>