<!DOCTYPE html>
<html>
  <head>
    <title>FoodNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="global-header">
      <div class="global-header-center">
        <div class="global-header-sub">
          <a>自分に合ったお店を見つけよう</a>
          <nav>
            <ul class="global-navigation">
              <li><%= link_to "エリア", "#" %></li>
              <li><%= link_to "ジャンル", "#" %></li>
              <li><%= link_to "口コミ", "#" %></li>
            </ul>
          </nav>
        </div>
        <div class="global-header-main">
          <a href="#">Food-Navi</a></h1>
          <div class="global-header-search"></div>
          <% if user_signed_in? %>
            <ul class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <li><%= link_to "ログアウト", "#", method: :delete %></li>
          <% else %>
              <li><%= link_to "ログイン", "#", class: "post" %></li>
              <li><%= link_to "新規登録", "#", class: "post" %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    <footer class="global-footer">
      <div class="global-footer-layout">
        <ul class="global-footer-navi">
          <li class="navi-item">food-naviについて</li>
          <li class="navi-item">運営会社</li>
          <li class="navi-item">利用規約</li>
          <li class="navi-item">プライバシーポリシー</li>
          <li class="navi-item">サイトマップ</li>
          <li class="navi-item">グルメニュース</li>
          <li class="navi-item">food-navi会員様について</li>
          <li class="navi-item">おすすめ口コミ</li>
          <li class="navi-item">ヘルプページ</li>
          <li class="navi-item">Facebook公式</li>
          <li class="navi-item">Twitter公式</li>
        </ul>
        <p class="global-footer-copyrigth">Copyright (C) food-navi All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>